[submodule "vendor/async_ssl"]
	path = vendor/async_ssl
	url = https://github.com/janestreet/async_ssl.git
[submodule "vendor/cohttp_async_websocket"]
	path = vendor/cohttp_async_websocket
	url = https://github.com/janestreet/cohttp_async_websocket.git
